<div>
  <p>Nossa indicação:</p>
  <div>
    <% @tasks.each do |task| %>
     <p><%= task['titulo'] %></p>
     <p><%= task['horario_inicio'] %></p>
     <p><%= task['horario_fim'] %></p>
     <p><%= task['detalhes'] %></p>
    <% end %>
    <p><%= @tips%></p>
  </div>
</div>
